<section id="afterparty" class="afterparty">
    <div class="content-wrapper text-left">
        <div class="col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>You&#39;re invited!</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
			<p>A DevFest is not complete without a good after party and you&#39;re invited! After a days worth of information (hopefully not an information overload) it's good to meet with others over beer and <a href="https://en.wikipedia.org/wiki/Bitterballen">bitterballen</a>. Maybe you even win something at our final &quot;everything must go&quot; give away frenzy. Don&#39;t lose your conference badge&#8230; That's your ticket in!</p>
			<p>&nbsp;</p>
			<p><a href="https://www.icemobile.com"><img src="/img/partners/icemobile.png" max-widht="300" width="300" border="0"></a></p>
			<p><img src="/img/afterparty/icemobrew.png" style="margin-left:30px;margin-bottom;30px" width="150" max-width="150" align="right"/>Like last year the after party is sponsored by <a href="https://www.icemobile.com">IceMobile</a>. Then <a href="https://www.icemobile.com">IceMobile</a> brought some samples of their home brewed IceMoBrew white IPA. It tasted delicious and this year IceMobile promised us the first 200 people at the after party will receive a limited edition GDG DevFest The Netherlands IceMoBrew to take home, open at a lazy hour and think back about this year&#39;s DevFest. Thanks much in advance <a href="https://www.icemobile.com">IceMobile</a> and good luck with brewing a pretty large batch of beers!</p>
			</div>
        </div>
    </div>
</section>
<!-- End Blog -->
